<!DOCTYPE html>
<html>
<head>
  <title>Habit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav role="navigation" class="navbar navbar-default">
    <div class="container">
      <a href="#" class="navbar-brand">Habit</a>
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if params[:controller] == 'home' %>"><a href="/">Home</a></li>
        <li class="<%= 'active' if params[:controller] == 'tasks' %>"><a href="/tasks">Task</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><a href="#"><%= current_user.username %></a></li>
          <li><a href="/logout">Logout</a></li>
        <% else %>
          <li><a href="/login">Login</a></li>
          <li><a href="/users/new">Sign up</a></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <%= yield %>

</body>
</html>
